body{
    background-image: url('background2.jpg')
}
#div-head{
    /* background-image: linear-gradient(90deg,#0a3d62,#60a3bc); */
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 55px;
}

#custom-form{

    width: 500px;
    height: 40px;
    border: solid white;
    border-radius: 30px;
    padding: 10px

}

#submit{
    border: solid white;
    background-color: white;
    border-radius: 30px;
    width: 80px;
    height: 40px;
}

#card{
    width:700px;
    height: auto;
}

#center{
    left:50px
}


#game-changer{
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
}